In [82]:
import os
import sqlalchemy
from sqlalchemy import create_engine
import pandas as pd 
import numpy as np

In [2]:
engine = create_engine('sqlite:///sqlite_db_pythonsqlite.db')

In [3]:
con = engine.connect()
engine.table_names()

['Bookings', 'Facilities', 'Members']

In [13]:
# Task 1
# Produce a list of facilities with a total revenue less than 1000.
# The output of facility name and total revenue, sorted by revenue.
rs = con.execute(''' SELECT DISTINCT f.name as facility, CASE WHEN memid != 0 THEN membercost * slots ELSE guestcost * slots END as total_revenue  
    FROM Bookings as b
    JOIN Facilities as f 
    USING (facid)''')

In [14]:
# Retrieve the query's results
q10_df = pd.DataFrame(rs.fetchall())

In [20]:
# Rename columns 
q10_df.columns = ['facility','total_revenue']
# Group the df by facility and sum the values to determine total revenue by facility
tot_rev_by_fac = q10_df.groupby('facility').sum()
# Filter for values less than 1000
tot_rev_by_fac[tot_rev_by_fac['total_revenue'] < 1000]

                 total_revenue
facility
Badminton Court          139.5
Massage Room 2           499.8
Pool Table                15.0
Snooker Table             30.0
Squash Court             637.0
Table Tennis              10.0
Tennis Court 1           840.0
Tennis Court 2           540.0

In [41]:
# Task 2
# Produce a report of members and who recommended them in alphabetic surname,firstname order
rs = con.execute(''' SELECT memid, surname, firstname, recommendedby
    FROM Members
    ''')

In [42]:
q11_df = pd.DataFrame(rs.fetchall())
q11_df.columns = ['memid','surname','firstname', 'recommendedby']
q11_df

    memid            surname  firstname recommendedby
0       0              GUEST      GUEST
1       1              Smith     Darren
2       2              Smith      Tracy
3       3             Rownam        Tim
4       4           Joplette     Janice             1
5       5            Butters     Gerald             1
6       6              Tracy     Burton
7       7               Dare      Nancy             4
8       8             Boothe        Tim             3
9       9           Stibbons     Ponder             6
10     10               Owen    Charles             1
11     11              Jones      David             4
12     12              Baker       Anne             9
13     13            Farrell     Jemima
14     14              Smith       Jack             1
15     15              Bader   Florence             9
16     16              Baker    Timothy            13
17     17             Pinker      David            13
18     20            Genting    Matthew             5
19     21          Mackenzie       Anna             1
20     22             Coplin       Joan            16
21     24             Sarwin  Ramnaresh            15
22     26              Jones    Douglas            11
23     27             Rumney  Henrietta            20
24     28            Farrell      David
25     29  Worthington-Smyth      Henry             2
26     30            Purview  Millicent             2
27     33         Tupperware   Hyacinth
28     35               Hunt       John            30
29     36            Crumpet      Erica             2
30     37              Smith     Darren

In [101]:
q11_df['recommendedby'].replace('',np.nan, inplace=True)
# rec_members_combined = recommended.join(members, how='inner',on='recommendedby')
# rec_members_combined
# recommended.dropna(inplace=True)
recommends = q11_df['recommendedby'].dropna().astype('int')

In [103]:
# Task3
# Find the facilities with their usage by member, but not guests
rs = con.execute(''' SELECT f.name as facility, surname, firstname, slots  
FROM Bookings b 
JOIN Facilities f  
USING (facid)
JOIN Members m 
USING (memid)
WHERE memid != 0
    ''')

StatementError: (sqlalchemy.exc.ResourceClosedError) This Connection is closed
[SQL:  SELECT f.name as facility, surname, firstname, slots
FROM Bookings b
JOIN Facilities f
USING (facid)
JOIN Members m
USING (memid)
WHERE memid != 0
    ]

In [ ]:
# Task 4 
# Find the facilities usage by month, but not guests
rs = con.execute('''SELECT f.name as facility, slots, starttime
FROM Bookings b 
JOIN Facilities f 
USING (facid)
WHERE memid != 0''')

In [102]:
con.close()